UpgradeLog*.htm
Debug/log/**
*.i.cache
*.i.lref
Debug/log/**/*.*
Debug/log/GazeTrackerUI.log.txt
Debug/log/*.log.txt.*
**/*.v12.suo
Debug/**/*.*
GazeTrackerUI/obj/**/*.*
Debug/
t.txt
ApplicationsForEF/Gazespeaker/
ApplicationsForEF/distrib/ 

